.todo-list-body {
  border-radius: 7px;
  background-color: rgb(56, 56, 56);
  margin: 4px;

  min-width: 14vw;
  min-height: 37vh;
  box-shadow: 0px 0px 5px rgb(0, 0, 0);
}

@media (max-width: 800px) {
  .todo-list-body {
    min-width: 25vw;
    min-height: 50vh;
  }
}
@media (max-width: 550px) {
  .todo-list-body {
    min-width: 70vw;
    min-height: 45vh;
  }
}
