.callendar-delete-button {
  grid-column: 3;
  display: inline-flex;
  align-self: start;
  justify-content: center;
  padding: 0;
  background-color: transparent;
  border: none;
  cursor: pointer;
}
