.slide-out-callendar-menu {
  background-color: rgb(56, 56, 56);
  height: 94.8vh;
  width: 0;
  position: fixed;
  top: 5vh;
  left: 0;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
  border-width: 1px;
  border-left: 0px;
  border-style: solid;
  border-color: rgb(255, 187, 0);
  overflow: hidden;
  transition: width 0.3s ease, transform 0.3s ease;
  transform: translateX(-100%);
  z-index: 9999;
}

.shadow-screen.visible {
  position: fixed;
  z-index: 9998;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100vh;
  width: 100%;
}

.slide-out-callendar-menu-grid {
  display: grid;
  grid-template-rows: 5vh 95vh;
}

.slide-out-callendar-menu.visible {
  width: 20%;
  min-width: 20%;
  transform: translateX(0);
}

@media (max-width: 800px) {
  .slide-out-callendar-menu.visible {
    width: 99%;
  }
}

@media (max-width: 550px) {
  .slide-out-callendar-menu.visible {
    width: 99%;
  }
}
